.main{
  background-image:url('../../images/bg2.jpg');
  background-size:cover;
  height:100vh;
  margin-top:-100px;
  padding-top:100px;
}
.FirstText{
  display:block;
  height:90px;
  width:420px;
  background:linear-gradient(to top, rgba(0,0,0,.55), rgba(136,136,136,0.35));
  margin:0 auto;
  margin-top:80px;
  color:white;
  text-align:center;
}
.pod,.mars,.amateur{
  display:block;
  height:45px;
  width:220px;
  background-color:rgba(0, 0, 0, 0.55);
  margin:0 auto;
  margin-top:25px;
  color:white;
  text-align:center;
  border:1px whitesmoke solid;
  
}

.pod:hover,.mars:hover,.amateur:hover{
  background-color:rgb(136,136,136,0.55);
  animation: bounce 1s infinite alternate;
      }
      
      @keyframes bounce {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-15px);
        }
      }

.podWords,.marsWords,.amateurWords,.textWords{
  font-size:18px;
}
.text{
  display:block;
  height:130px;
  width:790px;
  background:linear-gradient(to top, rgba(0,0,0,.55), rgba(136,136,136,0.35));
  margin:0 auto;
  margin-top:25px;
  color:white;
  text-align:center;
  border:1px whitesmoke solid;
  }
.textWords{
  position:relative;
  top:15px;
}
.amateurWords{
  position:relative;
  bottom:12px;
}
.title{
  font-size:36px;
}