.main{
  background-image:url('../../images/bg2.jpg');
  background-size:cover;
  height:100vh;
  margin-top:-100px;
  padding-top:100px;
}
.podWords,.marsWords,.amateurWords,.textWords{
  font-size:18px;
}
.FirstText{
  display:block;
  height:90px;
  width:420px;
  background:linear-gradient(to top, rgba(0,0,0,.55), rgba(136,136,136,0.35));
  margin:0 auto;
  margin-top:80px;
  color:white;
  text-align:center;
}
.text{
  display:block;
  height:130px;
  width:790px;
  background:linear-gradient(to top, rgba(0,0,0,.55), rgba(136,136,136,0.35));
  margin:0 auto;
  margin-top:25px;
  color:white;
  text-align:center;
  border:1px whitesmoke solid;
  }
.textWords{
  position:relative;
  top:15px;
}
.title{
  font-size:36px;
}
@media (max-width:500px){
  .FirstText{
    width:210px;
    height:45px;
  }
  .title{
    font-size:16px;
  }
  .text{
    width:300px;
    height:100px;
  }
  .textWords{
    font-size:10px;
    position:relative;
    top:10px;
  }
  .main{
    padding-bottom:-100px;
  }
}

.pod,.mars,.amateur{
  display:block;
  height:45px;
  width:220px;
  background-color:rgba(0, 0, 0, 0.55);
  margin:0 auto;
  margin-top:25px;
  color:white;
  text-align:center;
  border:1px whitesmoke solid;
  
}

.pod:hover,.mars:hover,.amateur:hover{
  background-color:rgb(136,136,136,0.55);
  animation: bounce 1s infinite alternate;
      }
      
      @keyframes bounce {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-15px);
        }
      }


.amateurWords{
  position:relative;
  bottom:12px;
}

@keyframes particleAnimation
{
   from {
       left: -100px;
   }
   to {
       left: calc( 100% + 100px );
   }
}
body{
 background:black;
}
.p{
 position:fixed;
 left:0px;
 top:50px;
 width:1px;
 height:1px;
 background-color:white;
 position:fixed;
 animation-name:particleAnimation;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
}
.p::before{
 position:absolute;
 display:block;
 content:"";
 width:100px;
 right:1px;
 top:0px;
 height:1px;
 background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%);
}
.p-1{
 animation-duration:10s;
 top:26%;
}
.p-2{
 animation-duration:5s;
 top:47%;
}
.p-3{
 animation-duration:9s;
 top:57%;
}
.p-4{
 animation-duration:13s;
 top:80%;
}